.page-article {
        margin-top: 10vw;
    }

@media only screen and (min-width: 900px) {
   .page-article {
        display: grid;
        grid-column-gap: 4em;
        grid-template-columns: 25% minmax(0, 1fr);
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            ". article-head"
            "sidebar article-content";
    }

    .page-article--no-sidebar {
        display: block;
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
    }

    .sub-navigation {
        margin-bottom: 0;
    }
}

.article-heading {
    grid-area: article-head;
}
.article-content {
    grid-area: article-content;
}
.sub-navigation {
    grid-area: sidebar;
    margin-bottom: 4em;
}