.introduction {
    font-family: 'Barrio', cursive;
    font-size: 2em;
    line-height: 94%;
    font-weight: normal;
    color: #fff;
    background: #EFF4EA;
    position: relative;
    overflow: hidden;
}

.introduction__text-wrapper::after {
    content: '';
    background: transparent url('/arrow.svg');
    width: 75px;
    height: 45px;
    position: absolute;
    top: -64px; 
    left: 30%;
    z-index:10;
    transform: scaleY(-1);
}

.introduction__text {
    padding-top: clamp(0px, 138%, 550px);
    padding-left: clamp(0px, 39%, 144px);
    padding-bottom: 18px;
    font-size: 20px;
    text-align: center;
}

.introduction__text-wrapper {
    position: relative;
    z-index: 2;
    max-width: 240px;
}
.introduction__text p {
    margin: 0;
}

.introduction__avatar {
    position: absolute;
    top:0;
}
.introduction__avatar img {
    display:block;
    width: 500px;
    max-width: clamp(0px, 100%, 400px);
    transform: translate(-17%, -10%) scale(1.3);
}

.introduction__footer {
    background-color: #fff;
    padding: 10px;
}

.introduction__text {
    background-color: #EFF4EA;
}

.text-red {
    color: #F17474;
}
.text-green {
    color: #7DA651;
}
.text-blue {
    color: #355E6B;
}
/* 
@media only screen and (min-width: 560px) {
    .introduction {
        font-size: 64px;
    }

    .introduction__text {
        flex: 0 auto;
        border-radius: 15px;
        padding-bottom: 15vh;
    }
} */