.text {
    font-weight: 300;
}
.text p {
    line-height: 1.9;
}

.text li {
    margin-bottom: 0.5em;
}

.text .left {
    float: left;
    margin-right: 1em;
}

.text p code {
    font-family: Operator Mono, monaco;
    padding: 0.15em;
    font-style: normal;
    font-weight: bold;
    /* font-size: 18px; */
    /* line-height: 27px; */
    color: #F17474;
}

.text pre {
    background: rgba(0, 19, 25, 1);
}

.text pre code {
    font-size: 1.1em;
    display: block;
    padding: 0.5em 1em;
    color: rgba(146, 183, 242, 0.9);
}

.text mark {
    background-color: #F9EF0A;
    padding: 0.15em 0.25em;
    /* font-weight: 500; */
}

.text a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: 500;
}

.intro {
    font-size: 1.5em;
    font-weight: 200;
}

.text .terminal {
    font-family: monaco;
    padding: 0.7em 1em;
    color: #89AE83;
    background-color:#091D1D;
    margin-bottom: 1em;
    font-size: 0.9em;
}

/* .text .terminal--error {
    color: #f00;
} */



.text .terminal::before {
    content: attr(data-scope);
}

@keyframes pulse {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%
    }
}

.text .terminal::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 4px;
    background: #89AE83;
    vertical-align: text-bottom;
    margin-left: -0.5em;
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.text .terminal--error::after {
    content: none;
}

.text h1,
.text h2,
.text h3,
.text h4 {
    line-height: 1.3;
    margin-bottom: 0.8em;
    margin-top: 2em;
}

.text h2 {
    font-size: 1.8em;
}

.text h3 {
    font-size: 1.5em;
}

.text h4 {
    font-size: 1.18em;
}

.text .blockquote {
    margin: 0;
    padding-left: 52px;
    border-left: 12px solid rgba(125, 166, 81, 0.12);


}
.text .blockquote__quote {
    font-style: italic;
    font-weight: 500;
    font-size: 1.5em;
    margin:0 0 1em;
}

.text .blockquote__caption {
    font-size: 0.7em;
}
.text .blockquote__caption::before {
    content: '—';
    margin-right: 1em;
}