.text {
    font-weight: 300;
}
.text p {
    line-height: 1.9;
}

.text li {
    margin-bottom: 0.5em;
}

.text .left {
    float: left;
    margin-right: 1em;
}

.text p code {
    border-bottom: 1px solid rgba(146, 183, 242, 0.4);
    font-family: monaco;
    font-size: 0.87em;
    background-color: rgba(146, 183, 242, 0.2);
    padding: 0.15em;
}

.text pre {
    background: rgba(0, 19, 25, 1);
}

.text pre code {
    font-size: 1.1em;
    display: block;
    padding: 0.5em 1em;
    color: rgba(146, 183, 242, 0.9);
}

.text mark {
    background-color: rgba(242, 211, 146, 0.5);
    border-bottom: 1px solid rgba(242, 211, 146, 1);
    color: rgb(66,47,8);
    padding: 0.15em 0.25em;
}

.text a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: 400;
}

.intro {
    font-size: 1.5em;
    font-weight: 200;
}

.text .terminal {
    font-family: monaco;
    padding: 0.5em 1em;
    color: rgba(146, 183, 242, 0.9);
    background-color:#000;
    margin-bottom: 1em;
}

.text .terminal::before {
    content: '$';
}

@keyframes pulse {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%
    }
}

.text .terminal::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 4px;
    background: rgba(146, 183, 242, 0.9);
    vertical-align: text-bottom;
    margin-left: -0.5em;
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.text h1,
.text h2,
.text h3,
.text h4 {
    line-height: 1.3;
    margin-bottom: 0.8em;
    margin-top: 2em;
}

.text h2 {
    font-size: 1.8em;
}

.text h3 {
    font-size: 1.5em;
}

.text h4 {
    font-size: 1.18em;
}

@import url("//hello.myfonts.net/count/39902b");
