{{ define "main" }}
{{ $items := union .Pages .Sections }}
{{ $class := "page-article--no-sidebar" }}
{{ if $items }}
    {{ $class = "" }}
{{ end }}
<main class="page-article {{$class}}">
    {{- partial "sidebar.html" . -}}
    <div class="article-heading">
        <h2 class="h2">{{ .Title }}</h2>
    </div>
    <div class="article-content text">
        {{ if .Params.intro }}
            <div class="intro">
                <p>{{ .Params.intro | markdownify }}</p>
            </div>
        {{ end }}
        
        {{ .Content }}
        
    </div>
</main>
{{ end }}
